@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Josefin+Sans:wght@300&family=Nunito:wght@200;700&display=swap');
.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Nunito', sans-serif;
}

.logo{
  width: 10rem;
  margin-left: 5rem;
}

.mr-auto{
  margin-right: 5rem;
  font-weight: 800;
  color: black;
}

.hello, .welcome-message, .name{
  font-weight: 900;
}

.welcome-message {
  font-size: large ;
  color: #595D81;
  margin: 2rem;
}

.name{
  color: #033374;
}

.projects-section{
  color: #595D81;
  font-weight: 900;
}

.category{
  color: black;
  font-weight: 600;
}

.medium-title{
  background-color: #033374;
  color: white;
  font-size: 56px;
  font-weight: 600;
}

.footer{
  margin-top: 6rem;
}

.img-icon{
  float: left;
  border-radius: 50%;
  margin-right: 20px;}

.category-title{
  text-align: left;
  font-weight: 800;
}

.category-description{
  font-weight: 400;
  text-align: left;
}
